<section class="about">
  <div class="container about__container">
    <div class="decorate">
      <div class="decorate__block"></div>
    </div>
    <div class="about__wrapper">
      <div class="about__left">
        <p class="text">
          The Guest House is the perfect weekend get-away housing. Located in
          the Norwegian archipelago, Lofoten, it's a great escape from the
          hustle and bustle of the city. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nullam scelerisque aliquam odio et faucibus. Nulla
          rhoncus feugiat eros quis consectetur. Morbi neque ex, condimentum
          dapibus congue et, vulputate ut ligula.
        </p>
      </div>
      <div class="about__right">
        <p class="text about__text">
          Below you'll find information about the accommodation and what's
          included in the price. Don't hesitate to reach out to us vi the
          contact page if you have any questions around your stay.
        </p>
        <a class="btn about__btn" href="#">Book now</a>
      </div>
    </div>
  </div>
</section>
