<section class="advantages">
  <div class="container advantages__container">
    <div class="decorate advantages__decorate">
      <div class="decorate__block"></div>
    </div>
    <h2 class="section-title advantages__title">The perfect escape.</h2>
    <p class="descr advantages__descr">
      “Ingredients for life,” said the backside of the truck. They mean food,
      but really food is only 1 ingredient of life. Life has so many more
      ingredients such as pain, happiness, laughter, joy, tears, and smiles.
      Life also has hard work, easy play, sleepless nights, and sunbathing by
      the ocean. Love, hatred, envy, self-assurance, and fear could be just down
      aisle 3 ready to be bought when needed. How I wish I could pull
      ingredients like these off shelves in a store.
    </p>
    <ul class="list-reset advantages__list">
      <li
        class="advantages__item advantage"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <img
          class="advantage__img"
          src="img/advantage-1.svg"
          alt="Modern Kitchen Appliances"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h3 class="text advantage__title">Modern Kitchen Appliances</h3>
          <p class="text advantage__text">
            Although Scott said it didn't matter to him, he knew deep inside
            that it did.
          </p>
        </div>
      </li>
      <li
        class="advantages__item advantage"
        data-aos="fade-up"
        data-aos-delay="350"
      >
        <img
          class="advantage__img"
          src="img/advantage-2.svg"
          alt="Air Conditioner"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h3 class="text advantage__title">Air Conditioner</h3>
          <p class="text advantage__text">
            They had been friends as long as he could remember and not once had
            he had to protest that something Joe apologized for doing didn't
            really matter.
          </p>
        </div>
      </li>
      <li
        class="advantages__item advantage"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <img
          class="advantage__img"
          src="img/advantage-3.svg"
          alt="Outdoor Paths"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h3 class="text advantage__title">Outdoor Paths</h3>
          <p class="text advantage__text">
            Scott stuck to his lie and insisted again and again that everything
            was fine as Joe continued to apologize.
          </p>
        </div>
      </li>
      <li
        class="advantages__item advantage"
        data-aos="fade-up"
        data-aos-delay="450"
      >
        <img
          class="advantage__img"
          src="img/advantage-4.svg"
          alt="Storage Solutions"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h3 class="text advantage__title">Storage Solutions</h3>
          <p class="text advantage__text">
            Scott already knew that despite his words accepting the apologies
            that their friendship would never be the same.
          </p>
        </div>
      </li>
      <li
        class="advantages__item advantage"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <img
          class="advantage__img"
          src="img/advantage-5.svg"
          alt="Coffee Maker"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h3 class="text advantage__title">Coffee Maker</h3>
          <p class="text advantage__text">
            Betty decided to write a short story and she was sure it was going
            to be amazing.
          </p>
        </div>
      </li>
      <li
        class="advantages__item advantage"
        data-aos="fade-up"
        data-aos-delay="550"
      >
        <img
          class="advantage__img"
          src="img/advantage-6.svg"
          alt="Cutlery Selection"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h3 class="text advantage__title">Cutlery Selection</h3>
          <p class="text advantage__text">
            She had already written it in her head and each time she thought
            about it she grinned from ear to ear knowing how wonderful it would
            be.
          </p>
        </div>
      </li>
      <li
        class="advantages__item advantage"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <img
          class="advantage__img"
          src="img/advantage-7.svg"
          alt="Natural Scenery"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h3 class="text advantage__title">Natural Scenery</h3>
          <p class="text advantage__text">
            She was therefore extremely frustrated when she actually sat down to
            write the short story and the story that was so beautiful inside her
            head refused to come out that way on paper.
          </p>
        </div>
      </li>
      <li
        class="advantages__item advantage"
        data-aos="fade-up"
        data-aos-delay="650"
      >
        <img
          class="advantage__img"
          src="img/advantage-8.svg"
          alt="Take-away Options"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h3 class="text advantage__title">Take-away Options</h3>
          <p class="text advantage__text">
            He picked up the burnt end of the branch and made a mark on the
            stone.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
