<section class="advantages">
  <div class="container advantages__container">
    <div class="decorate advantages__decorate">
      <div class="decorate__block"></div>
    </div>
    <h2 class="section-title advantages__title">The perfect escape.</h2>
    <p class="descr advantages__descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
      scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis
      consectetur.
    </p>
    <ul class="list-reset advantages__list">
      <li class="advantages__item advantage">
        <img
          class="advantage__img"
          src="img/advantage-1.svg"
          alt="Modern Kitchen Appliances"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h4 class="text advantage__title">Modern Kitchen Appliances</h4>
          <p class="text advantage__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </li>
      <li class="advantages__item advantage">
        <img
          class="advantage__img"
          src="img/advantage-2.svg"
          alt="Air Conditioner"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h4 class="text advantage__title">Air Conditioner</h4>
          <p class="text advantage__text">
            Nullam scelerisque aliquam odio et faucibus.
          </p>
        </div>
      </li>
      <li class="advantages__item advantage">
        <img
          class="advantage__img"
          src="img/advantage-3.svg"
          alt="Outdoor Paths"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h4 class="text advantage__title">Outdoor Paths</h4>
          <p class="text advantage__text">
            Nulla rhoncus feugiat eros quis consectetur.
          </p>
        </div>
      </li>
      <li class="advantages__item advantage">
        <img
          class="advantage__img"
          src="img/advantage-4.svg"
          alt="Storage Solutions"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h4 class="text advantage__title">Storage Solutions</h4>
          <p class="text advantage__text">
            Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.
          </p>
        </div>
      </li>
      <li class="advantages__item advantage">
        <img
          class="advantage__img"
          src="img/advantage-5.svg"
          alt="Coffee Maker"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h4 class="text advantage__title">Coffee Maker</h4>
          <p class="text advantage__text">
            Vestibulum sit amet urna turpis. Mauris euismod elit et nisi
            ultrices, ut faucibus orci tincidunt.
          </p>
        </div>
      </li>
      <li class="advantages__item advantage">
        <img
          class="advantage__img"
          src="img/advantage-6.svg"
          alt="Cutlery Selection"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h4 class="text advantage__title">Cutlery Selection</h4>
          <p class="text advantage__text">
            Duis tristique sed lorem a vestibulum.
          </p>
        </div>
      </li>
      <li class="advantages__item advantage">
        <img
          class="advantage__img"
          src="img/advantage-7.svg"
          alt="Natural Scenery"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h4 class="text advantage__title">Natural Scenery</h4>
          <p class="text advantage__text">
            Cras commodo consequat orci, in convallis risus egestas non.
          </p>
        </div>
      </li>
      <li class="advantages__item advantage">
        <img
          class="advantage__img"
          src="img/advantage-8.svg"
          alt="Take-away Options"
          width="36"
          height="36"
        />
        <div class="advantage__content">
          <h4 class="text advantage__title">Take-away Options</h4>
          <p class="text advantage__text">
            Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus
            libero ac, cursus quam.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
