<section class="arrangements">
  <div class="container arrangements__container">
    <div class="decorate">
      <div class="decorate__block"></div>
    </div>
    <div class="arrangements__wrapper">
      <h2 class="section-title arrangements__title">Sleeping arrangements.</h2>
      <p class="descr arrangements__descr">
        It was a simple tip of the hat. Grace didn't think that anyone else
        besides her had even noticed it. It wasn't anything that the average
        person would notice, let alone remember at the end of the day. That's
        why it seemed so unbelievable that this little gesture would ultimately
        change the course of the world.
      </p>
      <ul class="list-reset arrangements__list">
        <li
          class="arrangements__item arrangement"
          data-aos="fade-left"
          data-aos-duration="1500"
          data-aos-delay="300"
        >
          <img
            class="arrangement__img"
            src="img/arrangements-1.svg"
            alt="Beds"
            width="64"
            height="64"
          />
          <h3 class="descr arrangement__title">Beds</h3>
          <p class="text arrangement__text">
            The cabin is equipped with 12 beds, 4 of which are in bunk. The rent
            includes linens for all beds.
          </p>
        </li>
        <li
          class="arrangements__item arrangement"
          data-aos="fade-left"
          data-aos-duration="1500"
          data-aos-delay="400"
        >
          <img
            class="arrangement__img"
            src="img/arrangements-2.svg"
            alt="Bedrooms"
            width="64"
            height="64"
          />
          <h3 class="descr arrangement__title">Bedrooms</h3>
          <p class="text arrangement__text">
            Spread out over two floors, the cabin offers 4 bedrooms. Ranging
            from 2 to 4 beds per room.
          </p>
        </li>
        <li
          class="arrangements__item arrangement"
          data-aos="fade-left"
          data-aos-duration="1500"
          data-aos-delay="500"
        >
          <img
            class="arrangement__img"
            src="img/arrangements-3.svg"
            alt="Bathrooms"
            width="64"
            height="64"
          />
          <h3 class="descr arrangement__title">Bathrooms</h3>
          <p class="text arrangement__text">
            The cabin has three bathrooms, all equipped with showers and one
            with a bath tub,
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
