<section class="book">
  <div class="container book__container">
    <div class="decorate book__decorate">
      <div class="decorate__block"></div>
    </div>
    <h2 class="section-title book__title">
      We're already booked up for the spring — hurry up & secure your stay for
      the summer.
    </h2>
    <p class="descr book__descr">
      Here's the thing. She doesn't have anything to prove, but she is going to
      anyway. That's just her character. She knows she doesn't have to, but she
      still will just to show you that she can.
    </p>
    <div class="book__books">
      <a class="btn-reset btn btn--hollow book__contact" href="#">Contact</a>
      <a class="btn-reset btn book__btn" href="#">Book now</a>
    </div>
  </div>
</section>
