<section class="book">
  <div class="container book__container">
    <div class="decorate book__decorate">
      <div class="decorate__block"></div>
    </div>
    <h2 class="section-title book__title">
      We're already booked up for the spring — hurry up & secure your stay for
      the summer.
    </h2>
    <p class="descr book__descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
      scelerisque aliquam odio et faucibus.
    </p>
    <div class="book__books">
      <a class="btn-reset btn btn--hollow book__contact" href="#">Contact</a>
      <a class="btn-reset btn book__btn" href="#">Book now</a>
    </div>
  </div>
</section>
