<footer class="footer">
  <div class="container footer__container">
    <div class="footer__upper">
      <div class="footer__column">
        <h3 class="text footer__heading">Pages</h3>
        <nav class="footer__nav" title="Footer navigation">
          <ul class="list-reset footer__list">
            <li class="footer__item">
              <a class="text footer__link" href="#">Start</a>
            </li>
            <li class="footer__item">
              <a class="text footer__link" href="#">Contact</a>
            </li>
            <li class="footer__item">
              <a class="text footer__link" href="#">Our history</a>
            </li>
            <li class="footer__item">
              <a class="text footer__link" href="#">Licenses</a>
            </li>
            <li class="footer__item">
              <a class="text footer__link" href="#">Instructions</a>
            </li>
            <li class="footer__item">
              <a class="text footer__link" href="#">Style guide</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__column">
        <h3 class="text footer__heading">Social Media</h3>
        <ul class="list-reset social">
          <li class="social__item">
            <a class="social__link" href="#" aria-label="Our Airnb Link">
              <svg class="">
                <use xlink:href="img/sprite.svg#airnb"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" aria-label="Our Facebook Link">
              <svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" aria-label="Our Instagram Link">
              <svg class="">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="text footer__heading">Newsletter</h3>
        <p class="text footer__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
        <form class="footer__form" action="#">
          <input
            class="input-reset footer__input"
            type="email"
            placeholder="Email"
            required
          />
          <button class="btn-reset btn footer__btn" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class="footer__bottom">
      <a class="logo footer__logo" href="index.html">
        <img
          class="logo__img"
          src="img/logo.svg"
          alt="Guest House Logo"
          width="200"
          height="70"
        />
      </a>
      <span class="text footer__text"
        >© Guest House, LLC. All rights reserved. Powered by Webflow</span
      >
      <ul class="list-reset footer__contacts">
        <li class="text footer__contact">+47 (0) 702 88 12 34</li>
        <li class="text footer__contact">example@webflow.io</li>
        <li class="text footer__contact">
          Klubbvika 12, 8310 Kabelvag, Norway
        </li>
      </ul>
    </div>
  </div>
</footer>
