<section class="hero">
  <div class="container hero__container">
    <div class="hero__logo"></div>
    <h1
      class="hero__title"
      data-aos="fade-down"
      data-aos-duration="1500"
      data-aos-delay="300"
    >
      Experience the perfect combination of modern housing & natural scenery.
    </h1>
    <span
      class="hero__descr"
      data-aos="fade-down"
      data-aos-duration="2000"
      data-aos-delay="400"
      >Located in Lofoten, norway</span
    >
    <div class="hero__mouse"></div>
  </div>
</section>
