<section class="representation">
  <div class="container representation__container">
    <div class="decorate">
      <div class="decorate__block"></div>
    </div>
    <h2 class="representation__title">
      The Guest House is the perfect weekend getaway cabin.
    </h2>
  </div>
  <div
    class="representation__image"
    data-aos="fade-up"
    data-aos-duration="1500"
    data-aos-delay="200"
  >
    <picture>
      <source srcset="img/representation-img.avif" type="image/avif" />
      <source srcset="img/representation-img.webp" type="image/webp" />
      <img
        class="representation__img"
        loading="lazy"
        src="img/representation-img.jpg"
        width="1440"
        height="600"
        alt=""
      />
    </picture>
  </div>
</section>
