<section class="reviews">
  <div class="container reviews__container">
    <div class="decorate reviews__decorate">
      <div class="decorate__block"></div>
    </div>
    <h2 class="section-title reviews__title">Past guests.</h2>
    <p class="descr reviews__descr">
      Don't take our word for it! Have a look at what our previous guests say
      about their stay at the Guest House.
    </p>
  </div>
  <div class="reviews__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h4 class="review__title">
          We had an amazing stay at the Guest House!
        </h4>
        <p class="text review__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
          Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc
          ut sem vitae risus tristique posuere.
        </p>
        <div class="text review__author">Nate Davidsson</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__empty">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h4 class="review__title">Beautiful little hideaway.</h4>
        <p class="text review__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
          Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
        </p>
        <div class="text review__author">Laura Paulie</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__empty">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h4 class="review__title">Lorem ipsum.</h4>
        <p class="text review__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
        <div class="text review__author">Greg Todd</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h4 class="review__title">
          We had an amazing stay at the Guest House!
        </h4>
        <p class="text review__descr">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae
          iste harum, iusto sequi autem consequatur molestiae quidem. Qui
          adipisci exercitationem non dolore nulla dicta similique, incidunt
          optio nesciunt facere hic veritatis aliquam atque illum.
        </p>
        <div class="text review__author">Jessie Beattie</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h4 class="review__title">Lorem ipsum dolor sit.</h4>
        <p class="text review__descr">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem,
          nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Maiores, qui iste ipsam veritatis inventore deleniti?
        </p>
        <div class="text review__author">Shanice Mora</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__empty">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h4 class="review__title">Lorem ipsum dolor sit amet.</h4>
        <p class="text review__descr">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
          quae, dolore molestias asperiores vitae numquam ipsum vel quo tempore
          qui distinctio vero id natus illum sint alias perspiciatis recusandae
          dolorum sapiente itaque fuga.
        </p>
        <div class="text review__author">Adnan Feeney</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="reviews__btn-wrapper">
      <button
        class="btn-reset reviews__slider-btn reviews__slider-prev"
      ></button>
      <button
        class="btn-reset reviews__slider-btn reviews__slider-next"
      ></button>
    </div>
  </div>
</section>
