<section class="reviews">
  <div class="container reviews__container">
    <div class="decorate reviews__decorate">
      <div class="decorate__block"></div>
    </div>
    <h2 class="section-title reviews__title">Past guests.</h2>
    <p class="descr reviews__descr">
      Don't take our word for it! Have a look at what our previous guests say
      about their stay at the Guest House.
    </p>
  </div>
  <div class="reviews__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h3 class="review__title">
          We had an amazing stay at the Guest House!
        </h3>
        <p class="text review__descr">
          Her eyebrows were a shade darker than her hair. They were thick and
          almost horizontal, emphasizing the depth of her eyes. She was rather
          handsome than beautiful. Her face was captivating by reason of a
          certain frankness of expression and a contradictory subtle play of
          features. Her manner was engaging.
        </p>
        <div class="text review__author">Nate Davidsson</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__empty">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h3 class="review__title">Beautiful little hideaway.</h3>
        <p class="text review__descr">
          You can decide what you want to do in life, but I suggest doing
          something that creates. Something that leaves a tangible thing once
          you're done. That way even after you're gone, you will still live on
          in the things you created.
        </p>
        <div class="text review__author">Laura Paulie</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__empty">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h3 class="review__title">The lake is a long way from here.</h3>
        <p class="text review__descr">
          The water rush down the wash and into the slot canyon below. Two
          hikers had started the day to sunny weather without a cloud in the
          sky, but they hadn't thought to check the weather north of the canyon.
          Huge thunderstorms had brought a deluge o rain and produced flash
          floods heading their way. The two hikers had no idea what was coming.
        </p>
        <div class="text review__author">Greg Todd</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h3 class="review__title">
          She discovered van life is difficult with 2 cats and a dog.
        </h3>
        <p class="text review__descr">
          The amber droplet hung from the branch, reaching fullness and ready to
          drop. It waited. While many of the other droplets were satisfied to
          form as big as they could and release, this droplet had other plans.
          It wanted to be part of history. It wanted to be remembered long after
          all the other droplets had dissolved into history.
        </p>
        <div class="text review__author">Jessie Beattie</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h3 class="review__title">
          I really want to go to work, but I am too sick to drive.
        </h3>
        <p class="text review__descr">
          There had to be a better way. That's all Nancy could think as she sat
          at her desk staring at her computer screen. She'd already spent five
          years of her life in this little cubicle staring at her computer doing
          "work" that didn't seem to matter to anyone including her own boss.
          There had to be more to her life than this and there had to be a
          better way to make a living. That's what she was thinking when the
          earthquake struck.
        </p>
        <div class="text review__author">Shanice Mora</div>
      </div>
      <div class="swiper-slide review">
        <div class="review__stars">
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__full">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="review__star star">
            <svg class="star__empty">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <h3 class="review__title">Don't step on the broken glass.</h3>
        <p class="text review__descr">
          The piano sat silently in the corner of the room. Nobody could
          remember the last time it had been played. The little girl walked up
          to it and hit a few of the keys. The sound of the piano rang
          throughout the house for the first time in years.
        </p>
        <div class="text review__author">Adnan Feeney</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="reviews__btn-wrapper">
      <button
        class="btn-reset reviews__slider-btn reviews__slider-prev"
        aria-label="Slider Previous Button"
      >
        <img
          class="reviews__slider-icon"
          src="img/prev-arrow.svg"
          width="14px"
          height="26px"
          alt="Previous Button Arrow"
        />
      </button>
      <button
        class="btn-reset reviews__slider-btn reviews__slider-next"
        aria-label="Slider Next Button"
      >
        <img
          class="reviews__slider-icon"
          src="img/next-arrow.svg"
          width="14px"
          height="26px"
          alt="Next Button Arrow"
        />
      </button>
    </div>
  </div>
</section>
