<section class="together">
  <div
    class="together__image"
    data-aos="fade-up"
    data-aos-duration="1500"
    data-aos-delay="300"
  >
    <picture>
      <source srcset="img/room.avif" type="image/avif" />
      <source srcset="img/room.webp" type="image/webp" />
      <img
        class="together__img"
        loading="lazy"
        src="img/room.jpg"
        width="1440"
        height="600"
        alt=""
      />
    </picture>
  </div>
  <div class="container together__container">
    <div class="together__info">
      <div class="decorate together__decorate">
        <div class="decorate__block"></div>
      </div>
      <h2 class="section-title together__title">Come together.</h2>
      <p class="descr together__descr">
        Dave watched as the forest burned up on the hill, only a few miles from
        her house. The car had been hastily packed and Marta was inside trying
        to round up the last of the pets.
      </p>
    </div>
    <ul class="list-reset together__list">
      <li
        class="together__item module"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="module__item">
          <img
            class="module__img"
            src="img/together-1.svg"
            alt=""
            width="36"
            height="36"
          />
          <p class="text module__descr">
            Maybe it would be different this time, he thought, with the
            knowledge deep within that it wouldn't.
          </p>
        </div>
      </li>
      <li
        class="together__item module"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="module__item">
          <img
            class="module__img"
            src="img/together-2.svg"
            alt=""
            width="36"
            height="36"
          />
          <p class="text module__descr">
            Yet she asked the question anyway and waited for his answer.
          </p>
        </div>
      </li>
      <li
        class="together__item module"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="module__item">
          <img
            class="module__img"
            src="img/together-3.svg"
            alt=""
            width="36"
            height="36"
          />
          <p class="text module__descr">
            She asked the question even though she didn't really want to hear
            the answer.
          </p>
        </div>
      </li>
      <li
        class="together__item module"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="module__item">
          <img
            class="module__img"
            src="img/together-4.svg"
            alt=""
            width="36"
            height="36"
          />
          <p class="text module__descr">
            The problem was there was no other way across the gully, and this
            played into.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
