<section class="together">
  <div
    class="together__image"
    data-aos="fade-up"
    data-aos-duration="1500"
    data-aos-delay="300"
  >
    <picture>
      <source srcset="img/room.avif" type="image/avif" />
      <source srcset="img/room.webp" type="image/webp" />
      <img
        class="together__img"
        loading="lazy"
        src="img/room.jpg"
        width="1440"
        height="600"
        alt=""
      />
    </picture>
  </div>
  <div class="container together__container">
    <div class="together__info">
      <div class="decorate together__decorate">
        <div class="decorate__block"></div>
      </div>
      <h2 class="section-title together__title">Come together.</h2>
      <p class="descr together__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        scelerisque aliquam odio et faucibus.
      </p>
    </div>
    <ul class="list-reset together__list">
      <li
        class="together__item module"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="module__item">
          <img
            class="module__img"
            src="img/together-1.svg"
            alt=""
            width="36"
            height="36"
          />
          <p class="text module__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </li>
      <li
        class="together__item module"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="module__item">
          <img
            class="module__img"
            src="img/together-2.svg"
            alt=""
            width="36"
            height="36"
          />
          <p class="text module__descr">
            Nullam scelerisque aliquam odio et faucibus.
          </p>
        </div>
      </li>
      <li
        class="together__item module"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="module__item">
          <img
            class="module__img"
            src="img/together-3.svg"
            alt=""
            width="36"
            height="36"
          />
          <p class="text module__descr">
            Nulla rhoncus feugiat eros quis consectetur.
          </p>
        </div>
      </li>
      <li
        class="together__item module"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="module__item">
          <img
            class="module__img"
            src="img/together-4.svg"
            alt=""
            width="36"
            height="36"
          />
          <p class="text module__descr">Morbi neque ex, condimentum.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
